:root {
  --app-rem-unit: 15px;

  --app-border-width: 1px;

  --app-nav-height: 4rem;

  --app-gutter: 1rem;

  --app-color-red: #cc0015;
  --app-color-beige: #dfddd2;
  --app-color-beige--dark: #ac936e;
}
